{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>Electronis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>

    <section class="pt-60 pb-30 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                {% for data in shop %}
                {% if data.category == 'electronics' %}
                <div style="margin: 10px;"
                class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="single-tranding">
                        <a href="{% url 'shopproduct' data.id %}">
                            <div class="tranding-pro-img">
                                <img src="{{data.image.url}}" alt="">
                            </div>
                            <div class="tranding-pro-title">
                                <h3>{{data.name}}</h3>
                                <h4>{{data.category}}</h4>
                            </div>
                            <div class="tranding-pro-price">
                                <div class="price_box">
                                    <span class="current_price">Location: {{data.location}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <br>

    {% endblock content %}