{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<!--   03:20:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RongoShops</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logoo.png' %}">
    
    <!-- CSS 
    ========================= -->
   

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>

    <!--header area start-->
    <!--Offcanvas menu area start-->
    <div class="off_canvars_overlay">
            
    </div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                              <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                        </div>
                        {% if user.is_authenticated %}
                        <div style="margin: 0% auto;" class="img">
                            <img style="width: 40px;height: 40px;border-radius: 50%; margin: 0% auto;"
                            src="{{request.user.client.profile_pic.url}}" alt="">
                            <p>Hello {{user.username}}</p>
                        </div>
                        {% endif %}
                        <div class="support_info">
                            <p>Any Enquiry: <a href="tel:+254792613079">+254792613079</a></p>
                        </div>
                        <div class="top_right text-right">
                            <ul>
                               <li><a href="{% url 'my_account' %}"> My Account </a></li> 
                               <li><a href="{% url 'logout' %}"> LogOut </a></li> 
                            </ul>
                        </div> 
                        <!-- <div class="search_container">
                           <form action="" method="GET">
                                <div class="search_box">
                                    <input type="text" name="q" placeholder="Search......" required>
                                    <button type="submit">Search</button> 
                                </div>
                            </form>
                        </div>  -->
                        
                        <div class="middel_right_info">
                            <!-- <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)"><img style="width: 30px; height: 30px;" src="{% static 'images/icon/wish.png' %}" alt=""></a>
                                <span class="cart_quantity">0</span>
                                <div class="mini_cart">
                                    <div class="cart_item">
                                       <div class="cart_img">
                                           <a href="#"><img src="{% static 'images/s-product/product.jpg' %}" alt=""></a>
                                       </div>
                                        <div class="cart_info">
                                            <a href="#">Sit voluptatem rhoncus sem lectus</a>
                                            <p>Qty: 1 X <span> $60.00 </span></p>    
                                        </div>
                                        <div class="cart_remove">
                                            <a href="#"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="mini_cart_footer">
                                       <div class="cart_button">
                                            <a href="cart.html">View Wishlist</a>
                                        </div>
                                        <div class="cart_button">
                                            <a href="checkout.html">Checkout</a>
                                        </div>
                                        <p style="text-align: center;color: red;">
                                            This service is not available at the moment, we are working on that
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)"><img src="{% static 'images/shopping-bag.png' %}" alt=""></a>
                                <span class="cart_quantity">{{cartItems}}</span>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    {% for item in items %}
                                    <div class="cart_item">
                                       <div class="cart_img">
                                           <a href=""><img src="{{item.product.image.url}}" alt=""></a>
                                       </div>
                                        <div class="cart_info">
                                            <a href="">{{item.product.product_name}}</a>
                                            <p>Qty: {{item.quantity}} X <span> Ksh. {{item.product.new_price}} </span></p>    
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="mini_cart_footer">
                                       <div class="cart_button">
                                            <a href="{% url 'cart' %}">View cart</a>
                                        </div>
                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="/">Home</a>
                                </li>
                                <!-- <li class="menu-item-has-children">
                                    <a href="{% url 'hot' %}">Hot</a>
                                </li> -->
                                <li class="menu-item-has-children">
                                    <a href="#">Categories </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'fashion' %}">Fashion</a></li>
                                        <li><a href="{% url 'electronics' %}">Electronis</a></li>
                                        <li><a href="{% url 'jewellery' %}">Jewellery</a></li>
                                        <li><a href="{% url 'delicasies' %}">Delicasies</a></li>
                                        <li><a href="{% url 'automotive' %}">Automotive</a></li>
                                        <li><a href="{% url 'grocery' %}">Grocery</a></li>
                                        <li><a href="{% url 'cyber' %}">Cyber</a></li>
                                        <li><a href="{% url 'retail' %}">Retail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Account</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'my_account' %}">My Account</a></li>
                                        <li><a href="{% url 'makeshop' %}">Makeshop</a></li>
                                        <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                                        {% if user.is_authenticated %}
                                        <a href="{% url 'logout' %}">LogOut</a> 
                                        {% else %}
                                        <li><a href="{% url 'register' %}">Register</a></li>
                                        <li><a href="{% url 'login' %}">LogIn</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact_us' %}"> Contact Us</a></li>
                                <li><a href="{% url 'about_us' %}"> About Us</a></li>
                                <li><a href="{% url 'privacy_policy' %}"> Privacy policy</a></li>
                                <li class="menu-item-has-children">
                                </li>
                            </ul>
                        </div>

                        <div class="Offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> onesmuskimanzi254@gmail.com </a></span>
                            <ul>
                                <li><a style="background-color: green;" class="whatsapp" href="https://chat.whatsapp.com/H7fUiSiMsLS3uDy3ZRMH9A" title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li> Join Whatsapp Group <br><br>
                                <li class="facebook"><a href="https://www.instagram.com/kim_onesmuske/"><i class="fa fa-instagram"></i></a></li> Instagram <br><br>
                                <li class="twitter"><a href="https://twitter.com/Kiim844"><i class="fa fa-twitter"></i></a></li> Twitter <br><br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->
    
    <header>
        <div class="main_header">
            <!--header top start-->
            <div class="header_top">
                <div class="container">  
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="support_info">
                                <p>Email: <a href="mailto:">onesmuskimanzi254@gmail.com</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="top_right text-right">
                                <ul>
                                    <li><a href="{% url 'makeshop' %}">Makeshop</a></li> 
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">LogOut</a></li> 
                                    <img style="width: 40px;height: 40px;border-radius: 50%;" src="{{request.user.client.profile_pic.url}}" alt="">
                                    {% else %}
                                    <li><a href="{% url 'login' %}">LogIn</a></li> 
                                    {% endif %}
                                </ul>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            <!--header top start-->
            <!--header middel start-->
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo">
                                <a href="/"><img src="{% static 'images/logo1.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6">
                            <div class="middel_right">
                                <div class="search_container">
                                   <!-- <form action="" method="GET">
                                        <div class="search_box">
                                            <input name="q" placeholder="Search product..." type="text" required>
                                            <button type="submit">Search</button> 
                                        </div>
                                    </form> -->
                                </div> 
                                <div class="middel_right_info">
                                    <div class="mini_cart_wrapper">
                                        <a href="javascript:void(0)"><img style="width: 30px; height: 30px;" src="{% static 'images/icon/wish.png' %}" alt=""></a>
                                        <span class="cart_quantity">0</span>
                                        <div class="mini_cart">
                                            <div class="cart_item">
                                               <!-- <div class="cart_img">
                                                   <a href="#"><img src="{% static 'images/s-product/product.jpg' %}" alt=""></a>
                                               </div>
                                                <div class="cart_info">
                                                    <a href="#">Sit voluptatem rhoncus sem lectus</a>
                                                    <p>Qty: 1 X <span> $60.00 </span></p>    
                                                </div>
                                                <div class="cart_remove">
                                                    <a href="#"><i class="ion-android-close"></i></a>
                                                </div>
                                            </div>
                                            <div class="mini_cart_footer">
                                               <div class="cart_button">
                                                    <a href="cart.html">View Wishlist</a>
                                                </div>
                                                <div class="cart_button">
                                                    <a href="checkout.html">Checkout</a>
                                                </div> -->
                                                <p style="text-align: center;color: red;">
                                                    This service is not available at the moment, we are working on that
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="mini_cart_wrapper">
                                        <a href="javascript:void(0)"><img src="{% static 'images/shopping-bag.png' %}" alt=""></a>
                                        <span class="cart_quantity">{{cartItems}}</span>
                                        <!--mini cart-->
                                        <div class="mini_cart">
                                            {% for item in items %}
                                            <div class="cart_item">
                                               <div class="cart_img">
                                                   <a href=""><img src="{{item.product.image.url}}" alt=""></a>
                                               </div>
                                                <div class="cart_info">
                                                    <a href="">{{item.product.product_name}}</a>
                                                    <p>Qty: {{item.quantity}} X <span> Ksh. {{item.product.new_price}} </span></p>    
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="mini_cart_footer">
                                               <div class="cart_button">
                                                    <a href="{% url 'cart' %}">View cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="main_menu_area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main_menu menu_position"> 
                                <nav>  
                                    <ul>
                                        <li><a href="/">home</a></li>
                                        <!-- <li><a href="{% url 'hot' %}">Hot</a></li> -->
                                        
                                        <li><a class="active" href="#">Categories <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                <li><a href="{% url 'fashion' %}">Fashion</a></li>
                                                <li><a href="{% url 'electronics' %}">Electronis</a></li>
                                                <li><a href="{% url 'jewellery' %}">Jewellery</a></li>
                                                <li><a href="{% url 'delicasies' %}">Delicasies</a></li>
                                                <li><a href="{% url 'automotive' %}">Automotive</a></li>
                                                <li><a href="{% url 'grocery' %}">Grocery</a></li>
                                                <li><a href="{% url 'cyber' %}">Cyber</a></li>
                                                <li><a href="{% url 'retail' %}">Retail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Account<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                <li><a href="{% url 'my_account' %}">My Account</a></li>
                                                <li><a href="{% url 'makeshop' %}">Makeshop</a></li>
                                                <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                                                {% if user.is_authenticated %}
                                                <li><a href="{% url 'logout' %}">LogOut</a></li>
                                                {% else %}
                                                <li><a href="{% url 'register' %}">Register</a></li>
                                                <li><a href="{% url 'login' %}">LogIn</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'contact_us' %}"> Contact Us</a></li>
                                        <li><a href="{% url 'about_us' %}"> About Us</a></li>
                                        <li><a href="{% url 'privacy_policy' %}"> Privacy policy</a></li>
                                    </ul>  
                                </nav> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </div> 
    </header>
    <!--header area end-->

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>Electronis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>

    <section class="pt-60 pb-30 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                {% for data in shop %}
                {% if data.category == 'electronics' %}
                <div style="margin: 10px;"
                class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="single-tranding">
                        <a href="{% url 'shopproduct' data.id %}">
                            <div class="tranding-pro-img">
                                <img src="{{data.image.url}}" alt="">
                            </div>
                            <div class="tranding-pro-title">
                                <h3>{{data.name}}</h3>
                                <h4>{{data.category}}</h4>
                            </div>
                            <div class="tranding-pro-price">
                                <div class="price_box">
                                    <span class="current_price">Location: {{data.location}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <br>

    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container contact_us">
                        <div class="footer_">
                            <a href="#"><img src="{% static 'images/logo1.png' %}" alt=""></a>
                        </div>
                        <div class="footer_contact">
                            <p>RongoShops is developed to assist comrades and the entire Rongo University neigbours in advertising their businesses and their products</p>
                            <p>It also helps Customers access the product they need instantly through the website</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>Information</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="{% url 'about_us' %}">About Us</a></li>
                                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>Account</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="{% url 'my_account' %}">My Account</a></li>
                                <li><a href="{% url 'makeshop' %}">Makeshop</a></li>
                                <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">LogIn</a></li>
                                <li><a href="{% url 'logout' %}">LogOut</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container newsletter">
                        <h3>Follow Us</h3>
                        <div class="footer_social_link">
                            <ul>
                                <li><a style="background-color: green;" class="whatsapp" href="https://chat.whatsapp.com/H7fUiSiMsLS3uDy3ZRMH9A" title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li> Join Whatsapp Group <br><br>
                                <li><a class="twitter" href="https://twitter.com/Kiim844" title="Twitter"><i class="fa fa-twitter"></i></a></li> Twitter <br><br>
                                <li><a class="instagram" href="https://www.instagram.com/kim_onesmuske/" title="instagram"><i class="fa fa-instagram"></i></a></li> Instagram <br><br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
<!-- JS
============================================ -->



<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
</body>

<!--   03:22:07 GMT -->
</html>