*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    }
.admin_inputs {
    display: inline-flex;
}
/* .members {
    width: 1000px;
} */
/* .events {
    width: 1000px;
} */
.loopp1 {
    width: 100%;
    margin: 0% auto;
    text-align: center;
}
.loop1 {
    margin: 0% auto;
    justify-content: center;
    display: inline-flex;
    justify-content: space-between;
    margin: 2px;
    width: 100%;
}
.data1 {
    display: inline-flex;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    overflow: scroll;
    height: fit-content;
    box-shadow: 0px 0 30px 10px #727070;
    background-color: #ffffff;
    margin: 0% auto;
}
/* .data1 table tr th {
    margin-right: 40px;
} */
.button2  {
    padding: 5px;
    margin-top: 10px;
    background-color: green;
    width: 60px;
    color: white;
}
.button1 {
    padding: 5px;
    margin-top: 10px;
    width: 60px;
    background-color: red;
    color: white;
}
tbody tr td{
    padding: 10px;
}
