{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li>Make Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="account">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div style="    box-shadow: 0px 0 30px 10px #727070;" class="account-content">
                    <h4 style="text-align: center;">Make Shop</h4>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="single-acc-field">
                                <!-- <label for="name">Shop Owner</label> -->
                                {{form.owner.as_hidden}}
                            </div>
                            <div class="col-lg-6">
                                <div class="single-acc-field">
                                    <label for="name">Name of Shop</label>
                                    {{form.name}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-acc-field">
                                    <label for="email">Shop Category</label>
                                    {{form.category}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-acc-field">
                                    <label for="password">Shop Location</label>
                                    {{form.location}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-acc-field">
                                    <label for="password">Shop Image</label>
                                    {{form.image}}
                                </div>
                            </div>
                        </div>
                        <div class="single-acc-field">
                            <button type="submit">Makeshop</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock content %}