{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>My Account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <style>
        .profile-pic{
            max-width: 200px;
            max-height:200px;
            margin: 0 auto;
            border-radius: 50%;
        }
    </style>
    
    <br>
    <p style="text-align: center;width: 90%;">Hello {{user.username}} update your account to proceed <br>
    <span style="color: red;">NOTE: </span> This phone number and email will be used by the customers to contact you
    </p>
    <div style="width: 90%;margin: 0% auto;" class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <p>If your profile is complete</p>
                <a style="background-color: blue;" class="btn btn-warning" href="/"> &#8592; Go To Home</a>
                <!-- <hr> -->
                <h3 style="text-align: center">Profile Photo</h3>
                <hr>
                <img style="width: 200px;height: 200px; border-radius: 50%; margin: 0% auto;" 
                class="profile" src="{{request.user.client.profile_pic.url}}" >
            
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
        
                <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
            </div>
        </div>
    </div>
    <br>
{% endblock content %}