{% extends 'main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/admin1.css' %}">
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>My shops</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <br>
    <div class="members">
        <div style="width: 95%; margin: 0% auto;" class="welcome">
            <div class="loopp1">     
                {% if shop %}           
                <div class="loop1">
                    <div class="data1">
                        <table border="none" style=" border-collapse: collapse; width: 100%;">
                            <tr style="background-color: dodgerblue; padding: 20px;">
                                <th>
                                    <b>Name</b>
                                </th>
                                <th>
                                    <b>Image</b>
                                </th>
                                <th style="padding: 10px;">
                                    <u><b>Add product</b></u>
                                </th>
                                <th >
                                    <u><b>View product</b></u>

                                  
                                </th>
                                <th>
                                    <u><b>Update</b></u>
               
                                 
                                </th>
                                <th>
                                    <u><b>Delete</b></u>
                                </th>
                            </tr>
                            <tbody>
                                {% for data in shop %}
                                {% if request.user == data.owner %}
                                <tr style="margin: 0% auto; text-align: center;">
                                    <td>{{data.name}}</td>
                                    <td><img style="width: 100px;height: 100px;" src="{{data.image.url}}" alt=""></td>
                                    <td><a href="{% url 'add_product' data.id %}">Add Products</a></td>
                                    <td><a href="{% url 'shopproduct' data.id %}">View Products</a></td>
                                    <td><a class="button2" href="{% url 'update-shop' data.id %}">Update</a></td>
                                    <td><a class="button1" href="{% url 'delete-shop' data.id %}">Delete</a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                {% else %}
                <p style="color: red;text-align: center;">No shops available</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="">My shop</a></li>
                            <li>Shop product</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <br><br>
    <div class="members">
        <div style="width: 95%; margin: 0% auto;" class="welcome">
            <div class="loopp1">   
                {% if product %}             
                <div class="loop1">
                    <div class="data1">
                        <table border="none" style=" border-collapse: collapse; width: 100%;">
                            <tr style="background-color: dodgerblue; padding: 20px;">
                                <th>
                                    <b>Product Shop</b>
                                </th>
                                <th>
                                    <b>Product Name</b>
                                </th>
                                <th style="padding: 10px;">
                                    <u>Image</u>
                                </th>
                                <th >
                                    <u>Instock</u>

                                  
                                </th>
                                <th>
                                    <u>New Price</u>
                                </th>
                                <th>
                                    <u>Old Price</u>
                                </th>
                                <th>
                                    <u>Update</u>
                                </th>
                                <th>
                                    <u>Delete</u>
                                </th>
                            </tr>
                            <tbody>
                                {% for data in product %}
                                {% if request.user == data.product_owner %}
                                <tr style="margin: 0% auto; text-align: center;">
                                    <td>{{data.product_shop}}</td>
                                    <td>{{data.product_name}}</td>
                                    <td><img style="width: 100px;height: 100px;" src="{{data.image.url}}" alt=""></td>
                                    <td>{{data.instock}}</td>
                                    <td>Ksh. {{data.new_price}}</td>
                                    <td>Ksh. {{data.old_price}}</td>
                                    <td><a class="button2" href="{% url 'update-product' data.id %}">Update</a></td>
                                    <td><a class="button1" href="{% url 'delete-product' data.id %}">Delete</a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                <p style="color: red;text-align: center;">No shop products available</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br><br>
{% endblock content %}