{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<!--   03:20:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RongoShops</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logoo.png' %}">
    
    <!-- CSS 
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    <script type="text/javascript">
		var user = '{{request.user}}'

        function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')
    </script>
</head>

<body>

    <!--header area start-->
    <!--Offcanvas menu area start-->
    <div class="off_canvars_overlay">
            
    </div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                              <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                        </div>
                        {% if user.is_authenticated %}
                        <div style="margin: 0% auto;" class="img">
                            <img style="width: 40px;height: 40px;border-radius: 50%; margin: 0% auto;"
                            src="{{request.user.client.profile_pic.url}}" alt="">
                            <p>Hello {{user.username}}</p>
                        </div>
                        {% endif %}
                        <div class="support_info">
                            <p>Any Enquiry: <a href="tel:+254792613079">+254792613079</a></p>
                        </div>
                        <div class="top_right text-right">
                            <ul>
                               <li><a href="{% url 'my_account' %}"> My Account </a></li> 
                               <li><a href="{% url 'logout' %}"> LogOut </a></li> 
                            </ul>
                        </div> 
                        <!-- <div class="search_container">
                           <form action="" method="GET">
                                <div class="search_box">
                                    <input type="text" name="q" placeholder="Search......" required>
                                    <button type="submit">Search</button> 
                                </div>
                            </form>
                        </div>  -->
                        
                        <div class="middel_right_info">
                            <!-- <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)"><img style="width: 30px; height: 30px;" src="{% static 'images/icon/wish.png' %}" alt=""></a>
                                <span class="cart_quantity">0</span>
                                <div class="mini_cart">
                                    <div class="cart_item">
                                       <div class="cart_img">
                                           <a href="#"><img src="{% static 'images/s-product/product.jpg' %}" alt=""></a>
                                       </div>
                                        <div class="cart_info">
                                            <a href="#">Sit voluptatem rhoncus sem lectus</a>
                                            <p>Qty: 1 X <span> $60.00 </span></p>    
                                        </div>
                                        <div class="cart_remove">
                                            <a href="#"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="mini_cart_footer">
                                       <div class="cart_button">
                                            <a href="cart.html">View Wishlist</a>
                                        </div>
                                        <div class="cart_button">
                                            <a href="checkout.html">Checkout</a>
                                        </div>
                                        <p style="text-align: center;color: red;">
                                            This service is not available at the moment, we are working on that
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)"><img src="{% static 'images/shopping-bag.png' %}" alt=""></a>
                                <span class="cart_quantity">{{cartItems}}</span>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    {% for item in items %}
                                    <div class="cart_item">
                                       <div class="cart_img">
                                           <a href=""><img src="{{item.product.image.url}}" alt=""></a>
                                       </div>
                                        <div class="cart_info">
                                            <a href="">{{item.product.product_name}}</a>
                                            <p>Qty: {{item.quantity}} X <span> Ksh. {{item.product.new_price}} </span></p>    
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="mini_cart_footer">
                                       <div class="cart_button">
                                            <a href="{% url 'cart' %}">View cart</a>
                                        </div>
                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="/">Home</a>
                                </li>
                                <!-- <li class="menu-item-has-children">
                                    <a href="{% url 'hot' %}">Hot</a>
                                </li> -->
                                <li class="menu-item-has-children">
                                    <a href="#">Categories </a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'fashion' %}">Fashion</a></li>
                                        <li><a href="{% url 'electronics' %}">Electronis</a></li>
                                        <li><a href="{% url 'jewellery' %}">Jewellery</a></li>
                                        <li><a href="{% url 'delicasies' %}">Delicasies</a></li>
                                        <li><a href="{% url 'automotive' %}">Automotive</a></li>
                                        <li><a href="{% url 'grocery' %}">Grocery</a></li>
                                        <li><a href="{% url 'cyber' %}">Cyber</a></li>
                                        <li><a href="{% url 'retail' %}">Retail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Account</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'my_account' %}">My Account</a></li>
                                        <li><a href="{% url 'makeshop' %}">Makeshop</a></li>
                                        <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                                        {% if user.is_authenticated %}
                                        <a href="{% url 'logout' %}">LogOut</a> 
                                        {% else %}
                                        <li><a href="{% url 'register' %}">Register</a></li>
                                        <li><a href="{% url 'login' %}">LogIn</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact_us' %}"> Contact Us</a></li>
                                <li><a href="{% url 'about_us' %}"> About Us</a></li>
                                <li><a href="{% url 'privacy_policy' %}"> Privacy policy</a></li>
                                <li class="menu-item-has-children">
                                </li>
                            </ul>
                        </div>

                        <div class="Offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> onesmuskimanzi254@gmail.com </a></span>
                            <ul>
                                <li><a style="background-color: green;" class="whatsapp" href="https://chat.whatsapp.com/H7fUiSiMsLS3uDy3ZRMH9A" title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li> Join Whatsapp Group <br><br>
                                <li class="facebook"><a href="https://www.instagram.com/kim_onesmuske/"><i class="fa fa-instagram"></i></a></li> Instagram <br><br>
                                <li class="twitter"><a href="https://twitter.com/Kiim844"><i class="fa fa-twitter"></i></a></li> Twitter <br><br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->
    
    <header>
        <div class="main_header">
            <!--header top start-->
            <div class="header_top">
                <div class="container">  
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="support_info">
                                <p>Email: <a href="mailto:">onesmuskimanzi254@gmail.com</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="top_right text-right">
                                <ul>
                                    <li><a href="{% url 'makeshop' %}">Makeshop</a></li> 
                                   {% if user.is_authenticated %}
                                   <li><a href="{% url 'logout' %}">LogOut</a></li> 
                                   <img style="width: 40px;height: 40px;border-radius: 50%;" src="{{request.user.client.profile_pic.url}}" alt="">
                                   {% else %}
                                   <li><a href="{% url 'login' %}">LogIn</a></li> 
                                   {% endif %}
                                </ul>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            <!--header top start-->
            <!--header middel start-->
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo">
                                <a href="/"><img src="{% static 'images/logo1.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6">
                            <div class="middel_right">
                                <div class="search_container">
                                   <!-- <form action="" method="GET">
                                        <div class="search_box">
                                            <input name="q" placeholder="Search product..." type="text" required>
                                            <button type="submit">Search</button> 
                                        </div>
                                    </form> -->
                                </div> 
                                <div class="middel_right_info">
                                    <div class="mini_cart_wrapper">
                                        <a href="javascript:void(0)"><img style="width: 30px; height: 30px;" src="{% static 'images/icon/wish.png' %}" alt=""></a>
                                        <span class="cart_quantity">0</span>
                                        <div class="mini_cart">
                                            <div class="cart_item">
                                               <!-- <div class="cart_img">
                                                   <a href="#"><img src="{% static 'images/s-product/product.jpg' %}" alt=""></a>
                                               </div>
                                                <div class="cart_info">
                                                    <a href="#">Sit voluptatem rhoncus sem lectus</a>
                                                    <p>Qty: 1 X <span> $60.00 </span></p>    
                                                </div>
                                                <div class="cart_remove">
                                                    <a href="#"><i class="ion-android-close"></i></a>
                                                </div>
                                            </div>
                                            <div class="mini_cart_footer">
                                               <div class="cart_button">
                                                    <a href="cart.html">View Wishlist</a>
                                                </div>
                                                <div class="cart_button">
                                                    <a href="checkout.html">Checkout</a>
                                                </div> -->
                                                <p style="text-align: center;color: red;">
                                                    This service is not available at the moment, we are working on that
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="mini_cart_wrapper">
                                        <a href="javascript:void(0)"><img src="{% static 'images/shopping-bag.png' %}" alt=""></a>
                                        <span class="cart_quantity">{{cartItems}}</span>
                                        <!--mini cart-->
                                        <div class="mini_cart">
                                            {% for item in items %}
                                            <div class="cart_item">
                                               <div class="cart_img">
                                                   <a href=""><img src="{{item.product.image.url}}" alt=""></a>
                                               </div>
                                                <div class="cart_info">
                                                    <a href="">{{item.product.product_name}}</a>
                                                    <p>Qty: {{item.quantity}} X <span> Ksh. {{item.product.new_price}} </span></p>    
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="mini_cart_footer">
                                               <div class="cart_button">
                                                    <a href="{% url 'cart' %}">View cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <br> -->
            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="main_menu_area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main_menu menu_position"> 
                                <nav>  
                                    <ul>
                                        <li><a href="/">home</a></li>
                                        <!-- <li><a href="{% url 'hot' %}">Hot</a></li> -->
                                        
                                        <li><a class="active" href="#">Categories <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                <li><a href="{% url 'fashion' %}">Fashion</a></li>
                                                <li><a href="{% url 'electronics' %}">Electronis</a></li>
                                                <li><a href="{% url 'jewellery' %}">Jewellery</a></li>
                                                <li><a href="{% url 'delicasies' %}">Delicasies</a></li>
                                                <li><a href="{% url 'automotive' %}">Automotive</a></li>
                                                <li><a href="{% url 'grocery' %}">Grocery</a></li>
                                                <li><a href="{% url 'cyber' %}">Cyber</a></li>
                                                <li><a href="{% url 'retail' %}">Retail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Account<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                <li><a href="{% url 'my_account' %}">My Account</a></li>
                                                <li><a href="{% url 'makeshop' %}">Makeshop</a></li>
                                                <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                                                {% if user.is_authenticated %}
                                                <li><a href="{% url 'logout' %}">LogOut</a></li>
                                                {% else %}
                                                <li><a href="{% url 'register' %}">Register</a></li>
                                                <li><a href="{% url 'login' %}">LogIn</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'contact_us' %}"> Contact Us</a></li>
                                        <li><a href="{% url 'about_us' %}"> About Us</a></li>
                                        <li><a href="{% url 'privacy_policy' %}"> Privacy policy</a></li>
                                    </ul>  
                                </nav> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </div> 
    </header>
    <!--header area end-->

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>Product details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    {% for product in products %}
    <!--product details start-->
    <div class="product_details mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img style="width: 500px; height: 350px;" src="{{product.image.url}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        <form action="#">
                            <h1>{{product.product_name}}</h1>

                            <div class="price_box">
                                <span class="current_price">Ksh. {{product.new_price}}</span>
                                <span class="old_price">Ksh. {{product.old_price}}</span>

                            </div>
                            <div class="product_desc">
                                <ul>
                                    <li>{{product.instock}} In Stock</li>
                                    <li>{{product.delivery}}</li>
                                </ul>
                            </div>
                            {% if request.user.is_authenticated %}
                            <div class="product_variant quantity">
                                <button class="button" type="submit">
                                    <a href="https://wa.me/{{product.product_owner.client.number}}?
                                    text=Hello {{product.product_owner}}, how can i get your product {{product.product_name}}??">Order</a></button><br><br>
                                <button class="button" type="button"><a>
                                        <a
                                            href="https://wa.me/{{product.product_owner.client.number}}?
                                    text=Hello {{product.product_owner}}, how about {{product.product_name}} of price KSH.{{product.new_price}} under {{product.product_shop}} in RongoShops website">
                                            <i style="color: green; font-size: 25px;" class="fa fa-whatsapp"></i></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        Chart Seller
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="mailto: {{product.product_owner.client.email}}? 
                                        &subject={{product.product_shop}} {{product.product_name}}! &body=How about {{product.product_name}} of price KSH.{{product.new_price}} under {{product.product_shop}} in RongoShops website">
                                            <i style="color: pink; font-size: 25px;" class="fa fa-envelope-o"></i></a>
                                    </a></button><br>
                            </div>
                            {% else %}
                            <a style="background-color: green;color: white;border-radius: 10px;padding: 10px;" 
                            href="{% url 'login' %}">LogIn to make order</a>
                            {% endif %}
                            <br><br>
                            <div class=" product_d_action">
                                <ul>
                                    <li><button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">+ Add to cat</button></li><br>
                                    <li><button>+ Add to Wishlist</button></li>
                                </ul>
                            </div>
                            <div class="product_meta">
                                <span>Category: <a href="#">{{product.product_shop.category}}</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->

    <!--product info start-->
    <div class="product_d_info mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                                        aria-selected="false">Description</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="product_info_content">
                                    <p>{{product.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--product info end-->


    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container contact_us">
                        <div class="footer_">
                            <a href="#"><img src="{% static 'images/logo1.png' %}" alt=""></a>
                        </div>
                        <div class="footer_contact">
                            <p>RongoShops is developed to assist comrades and the entire Rongo University neigbours in advertising their businesses and their products</p>
                            <p>It also helps Customers access the product they need instantly through the website</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>Information</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="{% url 'about_us' %}">About Us</a></li>
                                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>Account</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="{% url 'my_account' %}">My Account</a></li>
                                <li><a href="{% url 'makeshop' %}">Makeshop</a></li>
                                <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">LogIn</a></li>
                                <li><a href="{% url 'logout' %}">LogOut</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container newsletter">
                        <h3>Follow Us</h3>
                        <div class="footer_social_link">
                            <ul>
                                <li><a style="background-color: green;" class="whatsapp" href="https://chat.whatsapp.com/H7fUiSiMsLS3uDy3ZRMH9A" title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li> Join Whatsapp Group <br><br>
                                <li><a class="twitter" href="https://twitter.com/Kiim844" title="Twitter"><i class="fa fa-twitter"></i></a></li> Twitter <br><br>
                                <li><a class="instagram" href="https://www.instagram.com/kim_onesmuske/" title="instagram"><i class="fa fa-instagram"></i></a></li> Instagram <br><br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
<!-- JS
============================================ -->



<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
</body>

<!--   03:22:07 GMT -->
</html>