{% extends 'main.html' %}
{% load static %}
{% block content %}    
<script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken')
</script>  
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>Product details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    {% for product in products %}
    <!--product details start-->
    <div class="product_details mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img style="width: 500px; height: 350px;" src="{{product.image.url}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        <form action="#">
                            <h1>{{product.product_name}}</h1>

                            <div class="price_box">
                                <span class="current_price">Ksh. {{product.new_price}}</span>
                                <span class="old_price">Ksh. {{product.old_price}}</span>

                            </div>
                            <div class="product_desc">
                                <ul>
                                    <li>{{product.instock}} In Stock</li>
                                    <li>{{product.delivery}}</li>
                                </ul>
                            </div>
                            {% if request.user.is_authenticated %}
                            <div class="product_variant quantity">
                                <button class="button" type="submit">
                                    <a href="https://wa.me/{{product.product_owner.client.number}}?
                                    text=Hello {{product.product_owner}}, how can i get your product {{product.product_name}}??">Make Order</a></button><br><br>
                                <button class="button" type="button"><a>
                                        <a
                                            href="https://wa.me/{{product.product_owner.client.number}}?
                                    text=Hello {{product.product_owner}}, how about {{product.product_name}} of price KSH.{{product.new_price}} under {{product.product_shop}} in RongoShops website">
                                            <i style="color: green; font-size: 25px;" class="fa fa-whatsapp"></i></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        Chart Seller
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="mailto: {{product.product_owner.client.email}}? 
                                        &subject={{product.product_shop}} {{product.product_name}}! &body=How about {{product.product_name}} of price KSH.{{product.new_price}} under {{product.product_shop}} in RongoShops website">
                                            <i style="color: pink; font-size: 25px;" class="fa fa-envelope-o"></i></a>
                                    </a></button><br>
                            </div>
                            {% else %}
                            <a style="background-color: green;color: white;border-radius: 10px;padding: 10px;" 
                            href="{% url 'login' %}">LogIn to make order</a>
                            {% endif %}
                            <br><br>
                            <div class=" product_d_action">
                                <ul>
                                    <li><button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">+ Add to cat</button></li><br>
                                    <li><button>+ Add to Wishlist</button></li>
                                </ul>
                            </div>
                            <div class="product_meta">
                                <span>Category: <a href="#">{{product.product_shop.category}}</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->

    <!--product info start-->
    <div class="product_d_info mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                                        aria-selected="false">Description</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="product_info_content">
                                    <p>{{product.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/cart.js' %}"></script>
    {% endfor %}
{% endblock content %}