{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>{{shop.name}} {{shop.category}} products</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <br>
    <div class="container_data">
        {% for products in all_products %}
        <a href="{% url 'productdetails' products.id %}">
            <div style="width: 150px;" class="box_product">
                <div style="width: 140px; height: 150px;margin: 0% auto;" class="group_i">
                    <img style="width: 130px; height: 130px;" src="{{products.image.url}}">
                </div>
                <p style="text-align: start; color: black; font-size: 13px;" class="price_text">{{products.product_name}}<span style="color: black;"></span></p>
                    <div class="tranding-pro-price">
                        <div style="text-align: start;" class="price_box">
                            <span class="old_price">Ksh. {{products.old_price}}</span>
                            <br>
                            <span class="current_price">Ksh. {{products.new_price}}</span>
                        </div>
                    </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock content %}