{% include 'base.html' %}
{% block content %}


{% endblock content %}
{% load static %}
<footer style="margin-bottom: 0%;" class="footer_widgets">
    <div style="margin-bottom: 0%;" class="footer_top">
        <div class="container">
            <div class="row">
            <div style="margin: 0% auto;" class="col-lg-3 col-md-6 col-sm-6">
                <div class="widgets_container widget_menu">
                    <h3>Quick Links</h3>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="{% url 'my_account' %}">My Account</a></li>
                            <li><a href="{% url 'makeshop' %}">Makeshop</a></li>
                            <li><a href="{% url 'my_shop' %}">My Shop</a></li>
                            <li><a href="{% url 'register' %}">Register/Login</a></li>
                            <li><a href="{% url 'logout' %}">LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="margin: 0% auto;" class="col-lg-4 col-md-6">
                <div class="widgets_container newsletter">
                    <h3>Follow Us</h3>
                    <div class="footer_social_link">
                        <ul>
                            <li><a style="background-color: green;" class="whatsapp" href="https://chat.whatsapp.com/H7fUiSiMsLS3uDy3ZRMH9A" title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li> Join Whatsapp Group <br><br>
                            <li><a class="twitter" href="https://twitter.com/Kiim844" title="Twitter"><i class="fa fa-twitter"></i></a></li> Twitter <br><br>
                            <li><a class="instagram" href="https://www.instagram.com/kim_onesmuske/" title="instagram"><i class="fa fa-instagram"></i></a></li> Instagram <br><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p>copyright_area</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_payment text-right">
                        <p> Designed and developed by <a href="">KimTech</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</footer>