{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li>About</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->

    <!--about section area -->
    <section class="about_section mt-60">
        <div class="container">   
            <div class="row align-items-center">
                <div class="col-12">
                   <figure>
                        <!-- <div style="margin: 0% auto;" class="about_thumb">
                            <img style="margin: 0% auto;" src="{% static 'images/about.jpg' %}" alt="">
                        </div> -->
                        <figcaption class="about_content">
                            <h1>RongoShops</h1>
                            <p>This is a website created to help  Shop owners, Comrades and business people
                                around rongo university advertise and sell their products to the interested customers.
                            </p>
                            <p>
                                We aim at making it easy for both Sellers and customers in adversing/selling their products
                                and buying the products adversed via the website respectively
                            </p>
                        </figcaption>
                    </figure>
                </div>    
            </div>
        </div>    
    </section>
    <!--about section end-->
           
    <!--services img area-->
    <div class="about_gallery_section">
        <div class="container">  
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="{% static 'images/what.png' %}" alt="">
                            </div>
                            <figcaption class="about_gallery_content">
                               <h3>What do we do?</h3>
                               <p>1. Develope websites <br>
                                  2. Manage websites <br>
                                  3. Offer graphic designs <br>
                                  4. Protect websites against attacks <br>  
                                </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="{% static 'images/history.avif' %}" alt="">
                            </div>
                            <figcaption class="about_gallery_content">
                               <h3>History Of Us</h3>
                               <p>
                                We are students at Rongo University persuing different carriers at different shools.
                                We are experts at different fields according to our carriers and even other fields outside our carriers.
                                The aim is giving the best and quality from us.
                               </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>     
    </div>
    <!--services img end-->       
            
    <!--chose us area start-->
    <div class="choseus_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="{% static 'images/about/About_icon1.png' %}" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>Secure Payment</h3>
                            <p>
                                We advise all customers only to make payment upon seeing the product or once the product is delivered to them.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="{% static 'images/about/About_icon3.png' %}" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>High Quality</h3>
                            <p>An assumption is that the good posted on this site are of High Quality
                                and none of them are fake or a duplicate of the original product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="{% static 'images/about/About_icon2.png' %}" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>Secure delivery</h3>
                            <p>For Customers, learn about the sellers who offer free delivery and those who
                                charge for delivery to go against incuring additional charges.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--chose us area end-->
   
   <!--team area start-->
   <div class="team_area">
       <div class="container">
           <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="team_member">
                        <figure>
                            <div class="team_thumb">
                                <img style="width: 150px;height: 150px;border-radius: 50%;" src="{% static 'images/about/kim.jpg' %}" alt="">
                            </div>
                            <figcaption class="team_content">
                                <h3>Onesmus Kimanzi</h3>
                                <h5>Senior Developer</h5>
                                <p>Phone: +254 792 613 079 <br> Email: kimonesmuske@gmail.com</p>
                            </figcaption>
                        </figure>   
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="team_member">
                        <figure>
                            <div class="team_thumb">
                                <img style="width: 150px;height: 150px;border-radius: 50%;" src="{% static 'images/riziki.jpg' %}" alt="">
                            </div>
                            <figcaption class="team_content">
                                <h3>Riziki Danniel</h3>
                                <h5>Marketing Lead</h5>
                                <p>Phone: +254 769 603 334 <br> Email: winfriz21@gmail.com</p>
                            </figcaption>
                        </figure>   
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="team_member">
                        <figure>
                            <div class="team_thumb">
                                <img style="width: 150px;height: 150px;border-radius: 50%;" src="{% static 'images/steve.jpg' %}" alt="">
                            </div>
                            <figcaption class="team_content">
                                <h3>Stephene Ojiambo</h3>
                                <h5>Cyber security Manager</h5>
                                <p>Phone: +254 768 031 418 <br> Email: ojsteve01@gmail.com</p>
                            </figcaption>
                        </figure>   
                    </article>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <article class="team_member">
                        <figure>
                            <div class="team_thumb">
                                <img  style="width: 150px;height: 150px;border-radius: 50%;" src="{% static 'images/vero.jpg' %}" alt="">
                            </div>
                            <figcaption class="team_content">
                                <h3>Veronicah Stellah</h3>
                                <h5>Graphic Designer</h5>
                                <p>Phone: +254 790 845 923 <br> Email: verostella234@gmail.com</p>
                            </figcaption>
                        </figure>   
                    </article>
                </div>
           </div>
       </div>
   </div>
{% endblock content %}